<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/SIGEFO/webapp/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/SIGEFO/webapp/assets/css/styles.css">
</head>
<body>
    <footer>
        <div class="footer">
            <p>Departamento de Formación Docente</p>
            <p>Av. Universidad 1001 Col. Chamilpa C.P. 62209, Cuernavaca, Morelos</p>
        </div>
    </footer>
</body>
</html>
