.dropdownmenu ul, .dropdownmenu li {
  margin: 0;
  padding: 0;
}
.dropdownmenu ul {
  background: gray;
  list-style: none;
  width: 100%;
  
}
.dropdownmenu li {
  float: left;
  position: relative;
  width: auto;
}
.dropdownmenu a {
  background: #d0d0d0;
  color: #000000;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.dropdownmenu li:hover a {
  background: #3A5A96;
  color: #ffffff;
}
#submenu {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  visibility: hidden;
  z-index: 1;

}
li:hover ul#submenu {
  opacity: 1;
  top: 40px;
  visibility: visible;
}
#submenu li {
  float: none;
  width: 100%;
}
#submenu a:hover {
  background: #ececec;
  color: #000000;
  border: 2px solid rgb(0, 0, 0);
}
#submenu a {
  background-color: #3A5A96;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%; 
    background-color: #f0f0f0;
}

/*.contenido{
  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Altura mínima para cubrir toda la pantalla 
    background-color: #f0f0f0;
}
*/

.login-card {
    background-color: white;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 90%;
    width: 100%;
    height: 90%;
}

#left {
    background-color: #001660;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
}

#left img {
    margin-bottom: 40px; /* Espacio entre la imagen y el texto */
}

#left span {
    color: white;
    font-size: 18px;
    text-align: center;
}

#right {
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

#right h1, #right p {
    margin: 10px 0;
    text-align: center;
}

.input-container {
    width: 80%; /* Ajusta el porcentaje según sea necesario */
    position: relative;
}

.btn {
    width: 80%; /* Ajusta el porcentaje según sea necesario */
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
}

#btn_login {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #001660;
    color: white;
    height: 45px; /* Ajusta la altura del botón */
    width: 100%; /* Ajusta el ancho del botón */
    
}

.btn:hover {
    background-color: #003399;
}

/* Estilos para el botón de mostrar/ocultar contraseña */
.password-btn {
    position: absolute;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    padding: 0;
    width: 25px;
    height: 25px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-btn img {
    width: 100%; /* Asegura que la imagen ocupe todo el botón */
    height: auto;
}

footer {
    background-color: #001660;
    color: white;
}

footer p {
    margin: 0;
}

.input-field {
    position: relative;
    padding: 10px;
}

.input-field label {
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

.input-field input {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: solid 1px #8d8d8d;
    letter-spacing: 1px;
    width: 100%;
}

.input-field input:focus,
.input-field input:valid {
    outline: none;
    border: solid 1px #0034de;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #fff;
    padding: 0px 5px;
    color: #0034de;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}

@media (max-width: 768px) {
    .login-card {
        flex-direction: column; /* Cambiar a columna en pantallas más pequeñas */
        height: auto;
    }

    #left, #right {
        width: 100%;
        border-radius: 0; /* Quitar bordes redondeados en pantallas pequeñas */
    }

    #left {
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    #right {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
